interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=title%3A%22unimpeded%3A+nonexistent_model+nonexistent_data%22&size=1
  response:
    body:
      string: '{"hits": {"hits": [], "total": 0}, "aggregations": {"access_status":
        {"buckets": [], "label": "Access status"}, "resource_type": {"buckets": [],
        "label": "Resource types"}, "subject": {"buckets": [], "label": "Subjects"},
        "file_type": {"buckets": [], "label": "File type"}}, "links": {"self": "https://zenodo.org/api/records?page=1&q=title%3A%22unimpeded%3A%20nonexistent_model%20nonexistent_data%22&size=1&sort=bestmatch"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '132'
      x-ratelimit-reset:
      - '1753734039'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/None
  response:
    body:
      string: '{"status": 404, "message": "The persistent identifier does not exist."}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '59'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '131'
      x-ratelimit-reset:
      - '1753734039'
    status:
      code: 404
      message: NOT FOUND
version: 1
