interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sandbox.zenodo.org/api/records?q=title%3A%22unimpeded%3A%22&size=1000&page=1
  response:
    body:
      string: '{"hits": {"hits": [{"created": "2025-02-10T01:46:23.733713+00:00",
        "modified": "2025-02-10T01:46:24.016630+00:00", "id": 162582, "conceptrecid":
        "162581", "doi": "10.5072/zenodo.162582", "conceptdoi": "10.5072/zenodo.162581",
        "doi_url": "https://handle.test.datacite.org/10.5072/zenodo.162582", "metadata":
        {"title": "unimpeded: klcdm bao.sdss_dr16", "doi": "10.5072/zenodo.162582",
        "publication_date": "2025-02-05", "description": "Method:mcmc, cosmological
        model:klcdm, dataset:bao.sdss_dr16", "access_right": "open", "creators": [{"name":
        "Ong, Dily", "affiliation": "University of Cambridge"}], "dates": [{"type":
        "created"}], "resource_type": {"title": "Dataset", "type": "dataset"}, "license":
        {"id": "cc-zero"}, "relations": {"version": [{"index": 0, "is_last": true,
        "parent": {"pid_type": "recid", "pid_value": "162581"}}]}}, "title": "unimpeded:
        klcdm bao.sdss_dr16", "links": {"self": "https://sandbox.zenodo.org/api/records/162582",
        "self_html": "https://sandbox.zenodo.org/records/162582", "preview_html":
        "https://sandbox.zenodo.org/records/162582?preview=1", "doi": "https://handle.test.datacite.org/10.5072/zenodo.162582",
        "self_doi": "https://handle.test.datacite.org/10.5072/zenodo.162582", "self_doi_html":
        "https://sandbox.zenodo.org/doi/10.5072/zenodo.162582", "reserve_doi": "https://sandbox.zenodo.org/api/records/162582/draft/pids/doi",
        "parent": "https://sandbox.zenodo.org/api/records/162581", "parent_html":
        "https://sandbox.zenodo.org/records/162581", "parent_doi": "https://handle.test.datacite.org/10.5072/zenodo.162581",
        "parent_doi_html": "https://sandbox.zenodo.org/doi/10.5072/zenodo.162581",
        "self_iiif_manifest": "https://sandbox.zenodo.org/api/iiif/record:162582/manifest",
        "self_iiif_sequence": "https://sandbox.zenodo.org/api/iiif/record:162582/sequence/default",
        "files": "https://sandbox.zenodo.org/api/records/162582/files", "media_files":
        "https://sandbox.zenodo.org/api/records/162582/media-files", "archive": "https://sandbox.zenodo.org/api/records/162582/files-archive",
        "archive_media": "https://sandbox.zenodo.org/api/records/162582/media-files-archive",
        "latest": "https://sandbox.zenodo.org/api/records/162582/versions/latest",
        "latest_html": "https://sandbox.zenodo.org/records/162582/latest", "versions":
        "https://sandbox.zenodo.org/api/records/162582/versions", "draft": "https://sandbox.zenodo.org/api/records/162582/draft",
        "access_links": "https://sandbox.zenodo.org/api/records/162582/access/links",
        "access_grants": "https://sandbox.zenodo.org/api/records/162582/access/grants",
        "access_users": "https://sandbox.zenodo.org/api/records/162582/access/users",
        "access_request": "https://sandbox.zenodo.org/api/records/162582/access/request",
        "access": "https://sandbox.zenodo.org/api/records/162582/access", "communities":
        "https://sandbox.zenodo.org/api/records/162582/communities", "communities-suggestions":
        "https://sandbox.zenodo.org/api/records/162582/communities-suggestions", "request_deletion":
        "https://sandbox.zenodo.org/api/records/162582/request-deletion", "file_modification":
        "https://sandbox.zenodo.org/api/records/162582/file-modification", "requests":
        "https://sandbox.zenodo.org/api/records/162582/requests"}, "updated": "2025-02-10T01:46:24.016630+00:00",
        "recid": "162582", "revision": 3, "files": [{"id": "5849f8bb-fdbd-4f95-a312-2fb4ae64b1f3",
        "key": "ns_klcdm_bao.sdss_dr16.prior_info", "size": 48, "checksum": "md5:1597889ef3a98ff05a05741a896ac9f0",
        "links": {"self": "https://sandbox.zenodo.org/api/records/162582/files/ns_klcdm_bao.sdss_dr16.prior_info/content"}},
        {"id": "304593d8-b8e6-4d41-9716-94d2a1f32256", "key": "ns_klcdm_bao.sdss_dr16.csv",
        "size": 29544603, "checksum": "md5:21d690ebf5c71833f9354ece567f32a7", "links":
        {"self": "https://sandbox.zenodo.org/api/records/162582/files/ns_klcdm_bao.sdss_dr16.csv/content"}},
        {"id": "36d24b28-16c3-4038-9ae7-1518747d6d76", "key": "mcmc_klcdm_bao.sdss_dr16.yaml",
        "size": 7698, "checksum": "md5:5cc73b08b3f1929c3342fa0b783abb73", "links":
        {"self": "https://sandbox.zenodo.org/api/records/162582/files/mcmc_klcdm_bao.sdss_dr16.yaml/content"}},
        {"id": "b57b69a3-7ee7-47f1-80ee-d57ab0753924", "key": "mcmc_klcdm_bao.sdss_dr16.csv",
        "size": 23441489, "checksum": "md5:f68c446958ca2e5c5149dd8fca230062", "links":
        {"self": "https://sandbox.zenodo.org/api/records/162582/files/mcmc_klcdm_bao.sdss_dr16.csv/content"}},
        {"id": "e9796598-d207-4670-9326-42c04fde6da9", "key": "ns_klcdm_bao.sdss_dr16.yaml",
        "size": 7743, "checksum": "md5:b32479a354e327dcfab1adc3b124bd08", "links":
        {"self": "https://sandbox.zenodo.org/api/records/162582/files/ns_klcdm_bao.sdss_dr16.yaml/content"}}],
        "swh": null, "owners": [{"id": "36914"}], "status": "published", "stats":
        {"downloads": 0, "unique_downloads": 0, "views": 0, "unique_views": 0, "version_downloads":
        0, "version_unique_downloads": 0, "version_unique_views": 0, "version_views":
        0}, "state": "done", "submitted": true}, {"created": "2025-02-10T01:39:18.194928+00:00",
        "modified": "2025-02-10T01:39:18.485895+00:00", "id": 162596, "conceptrecid":
        "162595", "doi": "10.5072/zenodo.162596", "conceptdoi": "10.5072/zenodo.162595",
        "doi_url": "https://handle.test.datacite.org/10.5072/zenodo.162596", "metadata":
        {"title": "unimpeded: wlcdm bao.sdss_dr16", "doi": "10.5072/zenodo.162596",
        "publication_date": "2025-02-06", "description": "cosmological model:wlcdm,
        dataset:bao.sdss_dr16", "access_right": "open", "creators": [{"name": "Ong,
        Dily", "affiliation": "University of Cambridge"}], "dates": [{"type": "created"}],
        "resource_type": {"title": "Dataset", "type": "dataset"}, "license": {"id":
        "cc-zero"}, "relations": {"version": [{"index": 0, "is_last": true, "parent":
        {"pid_type": "recid", "pid_value": "162595"}}]}}, "title": "unimpeded: wlcdm
        bao.sdss_dr16", "links": {"self": "https://sandbox.zenodo.org/api/records/1625[...]
