interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=title%3A%22unimpeded%3A%22&size=1000&page=1
  response:
    body:
      string: '{"hits": {"hits": [{"created": "2025-02-10T19:55:26.867637+00:00",
        "modified": "2025-02-10T19:55:27.142563+00:00", "id": 14839826, "conceptrecid":
        "14839825", "doi": "10.5281/zenodo.14839826", "conceptdoi": "10.5281/zenodo.14839825",
        "doi_url": "https://doi.org/10.5281/zenodo.14839826", "metadata": {"title":
        "unimpeded: nrunlcdm planck_2018_CamSpec+sn.pantheon", "doi": "10.5281/zenodo.14839826",
        "publication_date": "2025-02-09", "description": "cosmological model:nrunlcdm,
        dataset:planck_2018_CamSpec+sn.pantheon", "access_right": "open", "creators":
        [{"name": "Ong, Dily", "affiliation": "University of Cambridge"}], "dates":
        [{"type": "created"}], "resource_type": {"title": "Dataset", "type": "dataset"},
        "license": {"id": "cc-zero"}, "relations": {"version": [{"index": 0, "is_last":
        true, "parent": {"pid_type": "recid", "pid_value": "14839825"}}]}}, "title":
        "unimpeded: nrunlcdm planck_2018_CamSpec+sn.pantheon", "links": {"self": "https://zenodo.org/api/records/14839826",
        "self_html": "https://zenodo.org/records/14839826", "preview_html": "https://zenodo.org/records/14839826?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.14839826", "self_doi": "https://doi.org/10.5281/zenodo.14839826",
        "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.14839826", "reserve_doi":
        "https://zenodo.org/api/records/14839826/draft/pids/doi", "parent": "https://zenodo.org/api/records/14839825",
        "parent_html": "https://zenodo.org/records/14839825", "parent_doi": "https://doi.org/10.5281/zenodo.14839825",
        "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.14839825", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:14839826/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:14839826/sequence/default", "files": "https://zenodo.org/api/records/14839826/files",
        "media_files": "https://zenodo.org/api/records/14839826/media-files", "archive":
        "https://zenodo.org/api/records/14839826/files-archive", "archive_media":
        "https://zenodo.org/api/records/14839826/media-files-archive", "latest": "https://zenodo.org/api/records/14839826/versions/latest",
        "latest_html": "https://zenodo.org/records/14839826/latest", "versions": "https://zenodo.org/api/records/14839826/versions",
        "draft": "https://zenodo.org/api/records/14839826/draft", "access_links":
        "https://zenodo.org/api/records/14839826/access/links", "access_grants": "https://zenodo.org/api/records/14839826/access/grants",
        "access_users": "https://zenodo.org/api/records/14839826/access/users", "access_request":
        "https://zenodo.org/api/records/14839826/access/request", "access": "https://zenodo.org/api/records/14839826/access",
        "communities": "https://zenodo.org/api/records/14839826/communities", "communities-suggestions":
        "https://zenodo.org/api/records/14839826/communities-suggestions", "request_deletion":
        "https://zenodo.org/api/records/14839826/request-deletion", "requests": "https://zenodo.org/api/records/14839826/requests"},
        "updated": "2025-02-10T19:55:27.142563+00:00", "recid": "14839826", "revision":
        4, "files": [{"id": "16e99537-658c-4577-bb80-d349643b085b", "key": "ns_nrunlcdm_planck_2018_CamSpec+sn.pantheon.prior_info",
        "size": 48, "checksum": "md5:abf4f2c7d57312749e4cb12e9cad95fb", "links": {"self":
        "https://zenodo.org/api/records/14839826/files/ns_nrunlcdm_planck_2018_CamSpec+sn.pantheon.prior_info/content"}},
        {"id": "cfa7e95b-4935-423c-bc98-4b8c456fc1a1", "key": "mcmc_nrunlcdm_planck_2018_CamSpec+sn.pantheon.csv",
        "size": 48105053, "checksum": "md5:4e2617c6119b56b3db380970d262caa6", "links":
        {"self": "https://zenodo.org/api/records/14839826/files/mcmc_nrunlcdm_planck_2018_CamSpec+sn.pantheon.csv/content"}},
        {"id": "c1354f4c-7dd1-41f5-92cc-27a40efc27d9", "key": "ns_nrunlcdm_planck_2018_CamSpec+sn.pantheon.yaml",
        "size": 7922, "checksum": "md5:340c03d4378dad778a107690ef26e016", "links":
        {"self": "https://zenodo.org/api/records/14839826/files/ns_nrunlcdm_planck_2018_CamSpec+sn.pantheon.yaml/content"}},
        {"id": "58788a01-d1d2-4e8e-a21a-ec8946a4e04b", "key": "mcmc_nrunlcdm_planck_2018_CamSpec+sn.pantheon.yaml",
        "size": 7878, "checksum": "md5:fc4e5c6045b9be8c90d9eb76f7977df1", "links":
        {"self": "https://zenodo.org/api/records/14839826/files/mcmc_nrunlcdm_planck_2018_CamSpec+sn.pantheon.yaml/content"}},
        {"id": "76e26ec8-3a90-4090-be82-e87339162afe", "key": "ns_nrunlcdm_planck_2018_CamSpec+sn.pantheon.csv",
        "size": 78351749, "checksum": "md5:f1d06fd3fad965899fa4f802dce9f3f1", "links":
        {"self": "https://zenodo.org/api/records/14839826/files/ns_nrunlcdm_planck_2018_CamSpec+sn.pantheon.csv/content"}}],
        "swh": null, "owners": [{"id": "1102598"}], "status": "published", "stats":
        {"downloads": 18, "unique_downloads": 18, "views": 5, "unique_views": 5, "version_downloads":
        18, "version_unique_downloads": 18, "version_unique_views": 5, "version_views":
        5}, "state": "done", "submitted": true}, {"created": "2025-02-11T06:23:27.912528+00:00",
        "modified": "2025-02-11T06:23:28.229583+00:00", "id": 14839708, "conceptrecid":
        "14839707", "doi": "10.5281/zenodo.14839708", "conceptdoi": "10.5281/zenodo.14839707",
        "doi_url": "https://doi.org/10.5281/zenodo.14839708", "metadata": {"title":
        "unimpeded: rlcdm bicep_keck_2018+des_y1.joint", "doi": "10.5281/zenodo.14839708",
        "publication_date": "2025-02-09", "description": "cosmological model:rlcdm,
  [...]
