interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=title%3A%22unimpeded%3A%22&size=1000&page=1
  response:
    body:
      string: '{"status": 400, "message": "A validation error occurred.", "errors":
        [{"field": "size", "messages": ["Page size cannot be greater than 100."]}]}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '1763826891'
    status:
      code: 400
      message: BAD REQUEST
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=title%3A%22unimpeded%3A+lcdm+planck_2018_plik%22&size=1
  response:
    body:
      string: '{"hits": {"hits": [{"created": "2025-02-10T05:02:53.525300+00:00",
        "modified": "2025-02-10T05:02:53.921195+00:00", "id": 14839874, "conceptrecid":
        "14839873", "doi": "10.5281/zenodo.14839874", "conceptdoi": "10.5281/zenodo.14839873",
        "doi_url": "https://doi.org/10.5281/zenodo.14839874", "metadata": {"title":
        "unimpeded: lcdm planck_2018_plik", "doi": "10.5281/zenodo.14839874", "publication_date":
        "2025-02-09", "description": "cosmological model:lcdm, dataset:planck_2018_plik",
        "access_right": "open", "creators": [{"name": "Ong, Dily", "affiliation":
        "University of Cambridge"}], "dates": [{"type": "created"}], "resource_type":
        {"title": "Dataset", "type": "dataset"}, "license": {"id": "cc-zero"}, "relations":
        {"version": [{"index": 0, "is_last": true, "parent": {"pid_type": "recid",
        "pid_value": "14839873"}}]}}, "title": "unimpeded: lcdm planck_2018_plik",
        "links": {"self": "https://zenodo.org/api/records/14839874", "self_html":
        "https://zenodo.org/records/14839874", "preview_html": "https://zenodo.org/records/14839874?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.14839874", "self_doi": "https://doi.org/10.5281/zenodo.14839874",
        "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.14839874", "reserve_doi":
        "https://zenodo.org/api/records/14839874/draft/pids/doi", "parent": "https://zenodo.org/api/records/14839873",
        "parent_html": "https://zenodo.org/records/14839873", "parent_doi": "https://doi.org/10.5281/zenodo.14839873",
        "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.14839873", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:14839874/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:14839874/sequence/default", "files": "https://zenodo.org/api/records/14839874/files",
        "media_files": "https://zenodo.org/api/records/14839874/media-files", "archive":
        "https://zenodo.org/api/records/14839874/files-archive", "archive_media":
        "https://zenodo.org/api/records/14839874/media-files-archive", "latest": "https://zenodo.org/api/records/14839874/versions/latest",
        "latest_html": "https://zenodo.org/records/14839874/latest", "versions": "https://zenodo.org/api/records/14839874/versions",
        "draft": "https://zenodo.org/api/records/14839874/draft", "access_links":
        "https://zenodo.org/api/records/14839874/access/links", "access_grants": "https://zenodo.org/api/records/14839874/access/grants",
        "access_users": "https://zenodo.org/api/records/14839874/access/users", "access_request":
        "https://zenodo.org/api/records/14839874/access/request", "access": "https://zenodo.org/api/records/14839874/access",
        "communities": "https://zenodo.org/api/records/14839874/communities", "communities-suggestions":
        "https://zenodo.org/api/records/14839874/communities-suggestions", "request_deletion":
        "https://zenodo.org/api/records/14839874/request-deletion", "requests": "https://zenodo.org/api/records/14839874/requests"},
        "updated": "2025-02-10T05:02:53.921195+00:00", "recid": "14839874", "revision":
        4, "files": [{"id": "4c785186-1d5d-4dc9-bee7-a1cb857d9c04", "key": "ns_lcdm_planck_2018_plik.prior_info",
        "size": 48, "checksum": "md5:6dc8b0a5b8af4a7f4139b04b97b0710b", "links": {"self":
        "https://zenodo.org/api/records/14839874/files/ns_lcdm_planck_2018_plik.prior_info/content"}},
        {"id": "78aafe27-4144-4822-87b7-6588c4cfafe9", "key": "ns_lcdm_planck_2018_plik.yaml",
        "size": 12990, "checksum": "md5:3cffbbc34afc5397fae4cc494bff42db", "links":
        {"self": "https://zenodo.org/api/records/14839874/files/ns_lcdm_planck_2018_plik.yaml/content"}},
        {"id": "b55858c3-8a1f-46cc-814f-d810eb89d677", "key": "mcmc_lcdm_planck_2018_plik.csv",
        "size": 68499147, "checksum": "md5:cedb10482fa241add2fe3c046c40b0c8", "links":
        {"self": "https://zenodo.org/api/records/14839874/files/mcmc_lcdm_planck_2018_plik.csv/content"}},
        {"id": "7d222d1a-aa85-4354-ad2f-24d6605e866b", "key": "mcmc_lcdm_planck_2018_plik.yaml",
        "size": 12669, "checksum": "md5:a232789284494233233188362e02f74c", "links":
        {"self": "https://zenodo.org/api/records/14839874/files/mcmc_lcdm_planck_2018_plik.yaml/content"}},
        {"id": "783a87e7-4a77-4148-b9d9-85228d6460d6", "key": "ns_lcdm_planck_2018_plik.csv",
        "size": 102278866, "checksum": "md5:090a424d1722e8e56f988e8ed7bb0375", "links":
        {"self": "https://zenodo.org/api/records/14839874/files/ns_lcdm_planck_2018_plik.csv/content"}}],
        "swh": null, "owners": [{"id": "1102598"}], "status": "published", "stats":
        {"downloads": 76, "unique_downloads": 76, "views": 7, "unique_views": 5, "version_downloads":
        76, "version_unique_downloads": 76, "version_unique_views": 5, "version_views":
        7}, "state": "done", "submitted": true}], "total": 1}, "aggregations": {"access_status":
        {"buckets": [{"key": "open", "doc_count": 1, "label": "Open", "is_selected":
        false}], "label": "Access status"}, "resource_type": {"buckets": [{"key":
        "dataset", "doc_count": 1, "label": "Dataset", "is_selected": false, "inner":
        {"buckets": []}}], "label": "Resource types"}, "subject": {"buckets": [],
        "label": "Subjects"}, "file_type": {"buckets": [{"key": "bin", "doc_count":
        1, "label": "BIN", "is_selected": false}, {"key": "csv", "doc_count": 1, "label":
        "CSV", "is_selected": false}, {"key": "yaml", "doc_count": 1, "label": "YAML",
        "is_selected": false}], "label": "File type"}}, "links": {"self": "https://zenodo.org/api/records?page=1&q=title%3A%22unimpeded%3A%20lcdm%20planck_2018_plik%22&size=1&sort=bestmatch"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '28'
      x-ratelimit-reset:
      - '1763826891'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/14839874
  response:
    body:
      string: '{"created": "2025-02-10T05:02:53.525300+00:00", "modified": "2025-02-10T05:02:53.921195+00:00",
        "id": 14839874, "conceptrecid": "14839873", "doi": "10.5281/zenodo.14839874",
        "conceptdoi": "10.5281/zenodo.14839873", "doi_url": "https://doi.org/10.5281/zenodo.14839874",
        "metadata": {"title": "unimpeded: lcdm planck_2018_plik", "doi": "10.5281/zenodo.14839874",
        "publication_date": "2025-02-09", "description": "cosmological model:lcdm,
        dataset:planck_2018_plik", "access_right": "open", "creators": [{"name": "Ong,
        Dily", "affiliation": "University of Cambridge"}], "dates": [{"type": "created"}],
        "resource_type": {"title": "Dataset", "type": "dataset"}, "license": {"id":
        "cc-zero"}, "relations": {"version": [{"index": 0, "is_last": true, "parent":
        {"pid_type": "recid", "pid_value": "14839873"}}]}}, "title": "unimpeded: lcdm
        planck_2018_plik", "links": {"self": "https://zenodo.org/api/records/14839[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/14839874/files/ns_lcdm_planck_2018_plik.csv/content
  response:
    body:
      string: ',,logA,ns,H0,ombh2,omch2,tau,A_planck,calib_100T,calib_217T,A_cib_217,xi_sz_cib,A_sz,ksz_norm,gal545_A_100,gal545_A_143,gal545_A_143_217,gal545_A_217,ps_A_100_100,ps_A_143_143,ps_A_143_217,ps_A_217_217,galf_TE_A_100,galf_TE_A_100_143,galf_TE_A_100_217,galf_TE_A_143,galf_TE_A_143_217,galf_TE_A_217,As,omegam,omegamh2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=title%3A%22unimpeded%3A+lcdm+bao.sdss_dr16%22&size=1
  response:
    body:
      string: '{"hits": {"hits": [{"created": "2025-02-10T02:57:26.857766+00:00",
        "modified": "2025-02-10T02:57:27.185113+00:00", "id": 14839856, "conceptrecid":
        "14839855", "doi": "10.5281/zenodo.14839856", "conceptdoi": "10.5281/zenodo.14839855",
        "doi_url": "https://doi.org/10.5281/zenodo.14839856", "[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/14839856/files/ns_lcdm_bao.sdss_dr16.csv/content
  response:
    body:
      string: ',,logA,ns,H0,ombh2,omch2,tau,As,omegam,omegamh2,omega_de,YHe,Y_p,DHBBN,zre,sigma8,s8h5,s8omegamp5,s8omegamp25,A,clamp,age,rdrag,chi2__BAO,logprior__0,loglike__bao.sixdf_2011_bao,loglike__bao.sdss_dr7_mgs,loglike__bao.sdss_dr16_baoplus_lrg,loglike__bao.sdss_dr16_baoplus_elg,loglike__bao.sdss_dr16_baoplus_qso,loglike__b[...]
