interactions:
- request:
    body:
      encoding: utf-8
      string: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://zenodo.org/api/deposit/depositions
  response:
    body:
      encoding: utf-8
      string: '{"id": 16542097, "created": "2025-07-28T19:14:42.635469Z", "state":
        "unsubmitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: CREATED
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=title%3A%22unimpeded%3A%22&size=1000&page=1
  response:
    body:
      string: '<html><body><h1>504 Gateway Time-out</h1>

        The server didn''t respond in time.

        </body></html>

        '
    headers:
      content-type:
      - text/html
    status:
      code: 504
      message: Gateway Time-out
version: 1
