name: Unit tests


on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: "0 0 * * *"

jobs:
  pip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
      - name: Install dependencies
        run: |
          pip install -e ".[test]"
          # TEMPORARY: Install anesthetic from tension branch until PR #333 is merged
          pip install --force-reinstall git+https://github.com/handley-lab/anesthetic.git@tension

      - name: Test with pytest
        run: pytest --cov=unimpeded tests
        env:
          ACCESS_TOKEN: ${{ secrets.RENEW_GITHUB_ACCESS_TOKEN }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
